.startPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.questionPage {
  display: none;
  flex-direction: column;
  text-align: center;
}

.resultPage {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
body {
  background-color: black;
  color: #ffffef;
  display: flex;
  justify-content: center;
}
.main-img {
  width: 70%;
}

#startButton {
  background: #f7c05a;
  display: flex;
  font-size: 1.3rem;
}
#question {
  font-size: 1.5rem;
  word-break: keep-all;
}
.question-container {
  width: 80%;
  margin: 3rem 0;
}
.question-box {
  border: 0.2rem solid #ff3b77;
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#qnum {
  font-size: 2rem;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}
.progress-bar {
  background-color: #ff3b77 !important;
}
#ans1,
#ans2,
#ans3 {
  color: #ffffef;
  font-size: 1.2rem;
}
#ans1:hover,
#ans2:hover,
#ans3:hover {
  color: #ff3b77;
}

@media screen and (max-width: 780px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 370px) {
  html {
    font-size: 8px;
  }
}
/* @media screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
} */
.ans-container svg,
#startButton svg {
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}
.ans-container:hover > svg {
  color: #ff3b77;
}
