.startPage {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.questionPage {
  display: none;
  flex-direction: column;
  text-align: center;
}

.resultPage {
  display: none;
  flex-direction: column;
  text-align: center;
}
